<div class="main-container notAnObject">
    {{#each article}}
    <div class="container bePrettier">
        <div class="row pullMyArticle">
            <div class="col parent-div" data-id="{{this._id}}">
                <h4>{{this.title}}</h4>
                <a href="{{this.link}}">View Article</a>
                <hr>
                <p>{{this.note}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>