{{!-- <div class="main-container notAnObject">
    {{#each dbArticle}}
    <div class="container bePrettier">
        <div class="row pullMyArticle">
            <div class="col parent-div" data-id="{{this.id}}">
                <h4>{{this.title}}</h4>
                <a href="{{this.link}}">View Article</a>
                <hr>
            </div>
        </div>
    </div>
    {{/each}}
</div> --}}