{{> nav-block }}
<div class="main-container notAnObject">
    <div class="container">
        <div class="row pullMyArticle">
            <div class="col-7 parent-div" id="arties">
                {{#each dbArticle}}
                <div class="bePrettier">
                    <h4>{{this.title}}</h4>
                    <a href="{{this.link}}">View Article</a>
                    <hr>
                    <button class="btn btn-outline-secondary my-2 my-sm-0" id="takeNote" data-id="{{this.id}}">Take
                        Note</button>
                </div>
                {{/each}}
            </div>
            <div class="col-5 bePrettier" id="notes">
                <h4>Leave a Note</h4>
            </div>
        </div>
    </div>
</div>