
{{> nav-block }}
<div class=" container notAnObject">
    {{#each dbArticle}}
    <div class="row pullMyArticle">
        <div class="col">
            <h4>{{this.title}}</h4>
            <a href="{{this.link}}">{{this.link}}</a>
            <br>

            <button class="btn btn-outline-secondary my-2 my-sm-0" type="searchRecipe" id="saveTheArticle">
                Save Article
            </button>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="searchRecipe" id="takeNote">
                Take Note
            </button>
            <hr>
        </div>

    </div>
    {{/each}}
</div>
<div class="modal fade" id="showMeTheModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Take A Note</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Note Title</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Note Body</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary saveTheDamnNote" data-dismiss="modal">Save Note!</button>
            </div>
        </div>

    </div>
</div>